{% extends 'layout.html.twig' %}

{% block title %}Harbor{% endblock %}

{% block content %}
    <h1>Harbor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ harbor.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                {{ harbor.addressStreet }}<br/>
                {{ harbor.addressZipcode }} {{ harbor.addressCity }}</td>
            </tr>
            <tr>
                <th>Depth</th>
                <td>{{ harbor.depth }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ harbor.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('harbor_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('harbor_edit', {'id': harbor.id}) }}" class="btn btn-primary">edit</a>

    {{ include('harbor/_delete_form.html.twig') }}
{% endblock %}
